<div class="custom-language-field-row">
  {{#if this.isAlternates}}
    <label class="custom-language-label">{{i18n "discourse_category_language.alternates_topic_label"}}</label>
    <ComboBox
      @content={{this.availableTopics}}
      @values={{this.selectedTopics}}
      @valueProperty="value"
      @nameProperty="label"
      @placeholder="Type to search..."
      @onSearch={{this.searchTopics}}
      @onChange={{this.onChangeTopics}}
      @multiple={{true}}
    />
  {{else}}
    <label class="custom-language-label">{{i18n "discourse_category_language.default_topic_label"}}</label>
    <ComboBox
      @content={{this.availableTopics}}
      @value={{this.selectedTopic.value}}
      @valueProperty="value"
      @nameProperty="label"
      @placeholder="Type to search..."
      @onSearch={{this.searchTopics}}
      @onChange={{this.onChangeTopic}}
      @multiple={{false}}
    />
  {{/if}}
</div>
